.create-app form{
    max-width: 400px;
    margin: 0 auto;
  }
  .create-app input,
  .create-app textarea{
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
  }
  .create-app label{
    display: block;
    margin-top: 24px;
  }
  textarea{
    height: 120px;
  }
  .create-app button{
    margin-top: 20px;
    background: rgb(30, 1, 174);
    color: white;
    padding: 6px;
    border: 0;
    font-size: 1.2em;
    cursor: pointer;
  }